<manifest package="com.abount.cg.commonlibrary"
    xmlns:android="http://schemas.android.com/apk/res/android" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application>
        <!--错误日志-->
        <activity
            android:name=".views.activities.CrashListActivity"
            android:screenOrientation="portrait"
            android:label="错误日志"
            android:theme="@style/CustomTitleTheme"/>
        <!--错误详情-->
        <activity android:name=".views.activities.CrashInfoActivity"
            android:screenOrientation="portrait"
            android:label="错误详情"
            android:theme="@style/CustomTitleTheme"/>
    </application>
</manifest>
